@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jua&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

button {
  all: unset;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container-game img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.hidden {
  display: none;
}

.container-game {
  height: 100%;
}

.main {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main__creatFood--block {
  width: 640px;
  position: relative;
}

.main__header {
  width: 100%;
  height: 100%;
  max-height: 110px;
  background-color: #fd804f;
  border-radius: 47px 47px 0 0;
  border: 4px solid black;
}

.main__header--blocks {
  align-items: center;
  margin: 22px 72px 22px 37px;
  display: flex;
  justify-content: space-between;
}

.main__header--circles {
  display: flex;
  gap: 24px;
}

.main__header--circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fcb05c;
  border: 2px solid black;
}

.main__header--bigCircle {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: black;
}

.main__header--arrow {
  display: flex;
  align-items: center;
}

.main__content {
  background-color: white;
  width: 100%;
  height: 540px;
  border-radius: 0 0 47px 47px;
  border: 3px solid black;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin-bottom: 16px;
}

.main__content--dish {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.main__content--cutlery-btn {
  height: 240px;
}

.main__content-snacks,
.main__content-dishes {
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__content--snackHight,
.main__content--snackLower {
  width: 150px;
  height: 110px;
  cursor: pointer;
}

.main__content--snackMiddle {
  width: 165px;
  height: 117px;
  cursor: pointer;
}

.main__content--dishes-btn {
  height: 125px;
}

.main__content--plate {
  width: 490px;
  height: 480px;
  position: relative;
  cursor: pointer;
}

.main__content--snacks {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 13px;
}

.main__content--cutlery {
  display: flex;
  gap: 21px;
}

.main__content--knife,
.main__content--fork {
  width: 101px;
  height: 346px;
  cursor: pointer;
}

.main__content--imgPlate,
.main__content--imgSnack,
.main__content--imgFork,
.main__content--imgKnife,
.main__content--imgSnackMiddle,
.main__outside--imgCircles {
  width: 100%;
  height: 100%;
}

.main__outside--pallet {
  display: none;
  /* display: flex; */
  flex-direction: column;
  gap: 20px;
}

.main__outside--color {
  width: 110px;
  height: 90px;
  border: 4px solid black;
}

.black {
  background-color: black;
}

.orange {
  background-color: #fe7f4a;
}

.blue {
  background-color: #00182c;
}

.white {
  background-color: #fff;
}

.yellow {
  background-color: #feb066;
}

.brown {
  background-color: #b35f29;
}

.main__outside--circles {
  display: none;
  gap: 35px;
  flex-direction: column;
  align-items: center;
}

.main__outside--circle {
  border: 4px solid black;
  border-radius: 50%;
}

.circle--orange {
  background-color: #fe7f4c;
  width: 93px;
  height: 93px;
}

.circle--yellow {
  background-color: #fba551;
  width: 69px;
  height: 69px;
}

.circle--rectangle {
  width: 97px;
  height: 97px;
  background-color: #ff804b;
  border-radius: 0%;
}

.circle--inside {
  background-color: white;
  width: 50px;
  height: 50px;
  border: none;
  margin: 26px 22px;
  border-radius: 50%;
}

.circle--green {
  background-color: #2dd9a7;
  width: 40px;
  height: 40px;
}

.circle--white {
  background-color: white;
  width: 75px;
  height: 75px;
  border: none;
}

.circle--whiteBlack {
  background-color: white;
  width: 56px;
  height: 56px;
}

.main-footer__buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  color: #ff7f4b;
}

.main-footer__button--generate,
.main-footer__button--save {
  font-family: 'Jua', sans-serif;
  width: 468px;
  height: 100px;
  font-size: 24px;
  padding-left: 102px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.main-footer__button--generate {
  background-size: contain;
  background-image: url('../assets/img/buttons/Generate.svg');
  color: #00182c;
}

.main-footer__button--save {
  background-size: contain;
  background-image: url('../assets/img/buttons/Save.svg');
  color: #ff7f4b;
}

.main__content-right-modal {
  height: 620px;
  position: absolute;
  right: -20%;
  top: 0;
  border-radius: 35px;
  overflow-y: scroll;
}

.slides-wrapper {
  overflow: hidden;
  max-width: 681px;
}

.main__content-left-modal {
  height: 620px;
  position: absolute;
  left: -20%;
  top: 0;
  border-radius: 35px;
  overflow-y: scroll;
}

.main__content-left-modal::-webkit-scrollbar,
.main__content-right-modal::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

.main__content--snack-btn {
  width: 110px;
  height: 150px;
}

.pulsating-element {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
